<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if(locals.titulo && typeof locals.titulo !=='undefined' && locals.titulo !=='' ) { %>
		<title>monitor - <%=titulo%>
		</title>
		<%} else {%>
			<title>monitor</title>
			<%}%>
				<link rel="stylesheet" href="./bootstrap-5.2.2/css/bootstrap.min.css">
</head>
<body>