/** <------------------------- General -------------------------> */

body {
    background-color: #eee;
    font-family: Intro;
    margin: 0;
    padding: 0;
}

/** <------------------------- Nav -------------------------> */

nav {
    align-items: center;
    background-color: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 2.5vh 5vw;
    text-align: center;
}

nav img {
    height: 90%;
}

nav ul {
    display: flex;
    cursor: pointer;
    gap: 2vw;
    list-style-type: none;
    padding: 0;
}

/** <------------------------- Main -------------------------> */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*? <---------- Warning ----------> */



/*? <---------- Home ----------> */



/*? <---------- History ----------> */

#filter_section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    justify-content: space-evenly;
    width: 100vw;
}

.filter_button {
    background-color: #0094d3;
    border: none;
    border-radius: 25px;
    color: #eee;
    cursor: pointer;
    font-family: Montserrat-Arabic;
    font-size: 0.9rem;
    height: 10vh;
    padding: 1vw;
    width: 10vw;
}

#graphics_section {
    align-items: center;
    display: flex;
    height: 60vh;
    gap: 5vw;
    justify-content: space-between;
    width: 90vw;
}

.graphic_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    width: 42.5vw;
}

.graphic_container canvas {
}

/** <------------------------- Footer -------------------------> */

